.ask-active{
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    padding: 25px 10px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
}
.ask-active img{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 25px;
    height: 18px;
    cursor: progress;
    z-index: 5;
}
.ask-disable{
    display: none;
}

.answer-active{
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    padding: 25px 10px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
}
.answer-disable{
    display: none;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 15px;
    right: 1px;
}

.buttons button{
    color: #FFFFFF;
    width: 105px;
    height: 54px;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.buttons .b-red{
    background: #FF3030;;
}
.buttons .b-yellow{
    background:  #FF922E;
}
.buttons .b-green{
    background:  #2FBE34;
}